html {
	background-color: #b15d1c;
}

header {
	background-color: white;
	
}

body {
	width: 800px;
	margin: 0 auto;
	padding: 5px;
	font-family: Helvetica, sans-serif;
	border: 2px solid black;
	background-color: white;
}

.activity {
	float: left;
	width: 50%;
	height: 50%;
	padding: 10px;
}

.events {
	margin-top: 10px;
	padding: 1px 16px;
	height: 100%;
}

.activities {
	margin-top: 70px;
}

h2 {
	text-align: center;
	text-shadow: 2px 1px black;
	color: #f04e29;
	line-height: 10px;
	
}

.navmenu {
	overflow: hidden;
	background-color: black;
	margin: 0;
	padding: 0;
}

.navmenu a {
	float: left;
	margin-left: 90px;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

.navmenu ul {
	list-style-type: none;
	position: relative;
}

.navmenu li {
	display: inline;
}

.navmenu li:hover a {
	background-color: #f04e29;
	color: black;
}

.activities ul {
	list-style-type: circle;
	margin-left: 40px;
}

footer {
	font-size: 10px;
	text-align: center;
	color: gray;
}
